<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Filtrer les résultats de recherche</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12 input-group">
                        <input (input)="text = $event.target.value" [value]="text" type="text" placeholder="Garderie d'Avignon" class="form-control"/>
                    </div>
                </div>
                <div class="row sliders">
                    <div class="col-md-6">
                        <h5>Distance</h5>
                    </div>
                    <div class="col-md-6 range-slider">
                        <div class="range-slider">
                            <input class="range-slider__range" type="range" (input)="distance = $event.target.value" [value]="distance" min="0" max="20">
                            <span class="range-slider__value">{{this.distance}} km</span>
                        </div>
                    </div>
                </div>
                <div class="row daycare-row">
                    <div class="col-md-6">
                        <h5>Prix maximal</h5>
                    </div>
                    <div class="col-md-6 range-slider">
                        <div class="range-slider">
                            <input class="range-slider__range" type="range" (input)="prix = $event.target.value" [value]="prix" min="7" max="60">
                            <span class="range-slider__value">{{this.prix}} $</span>
                        </div>
                    </div>
                </div>
                <div class="row daycare-row">
                    <div class="col-md-6">
                        <h5>Places disponibles</h5>
                    </div>
                    <div class="col-md-6 range-slider">
                        <div class="range-slider">
                            <input class="range-slider__range" type="range" (input)="nombreEnfants = $event.target.value" [value]="nombreEnfants" min="1" max="10">
                            <span class="range-slider__value">{{this.nombreEnfants}}</span>
                        </div>
                    </div>
                </div>
                <div class="row daycare-row">
                    <div class="col-md-12">
                        <div class="button-group float-right" style="margin-right: 20px">
                            <button class="btn btn-success btn-round" (click)="query()"> Appliquer les filtres</button>
                            <button class="btn btn-danger btn-round" (click)="initialize()"> Réinitialiser</button>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ngx-gmaps [markers]=markers></ngx-gmaps>
    </div>
</div>
<div class="row">
    <div *ngFor="let daycare of daycares" class="col-md-4">
        <nb-card>
            <nb-card-header (click)="select(daycare)">
                <span class="title">{{daycare.name}}</span>
                <span class="float-right">
                    {{daycare.distance}} km
                </span>
            </nb-card-header>
            <nb-card-body>
                <p>Prix : {{daycare.price}} $</p>
                <p>Places disponibles: {{daycare.available}}</p>
            </nb-card-body>
            <nb-card-footer>
                <div class="row">
                    <div class="col-md-7 form-group">
                        <select class="form-control" [(ngModel)]="daycare.kid">
                            <option *ngFor="let kid of kids" [ngValue]="kid">{{kid}}</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-success btn-round" (click)="registerKid(daycare)"> Inscrire</button>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
