<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Fermeture de chemin</nb-card-header>
      <nb-card-body> Le chemin de Saint-Barnabé est présentement fermé entre le rang Saint-André (route 235) et le chemin 
        du Rapide-Plat Nord. </nb-card-body>
      <nb-card-footer>5 Jan 2018</nb-card-footer>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
        <nb-card-header>Centre de congrès</nb-card-header>
        <nb-card-body> Bonne nouvelle! Le Centre de congrès de Saint-Hyacinthe accueille aujourd’hui ses premiers clients.                                        </nb-card-body>
        <nb-card-footer>17 Nov 2017</nb-card-footer>
    </nb-card>
  </div>
  
</div>

<div class="row">
    <div class="col-md-6">
      <nb-card>
          <nb-card-header>Élections municipales</nb-card-header>
          <nb-card-body> Les résultats officiels sont publiés, au fur et à mesure du dépouillement  </nb-card-body>
          <nb-card-footer>5 Nov 2017</nb-card-footer>
      </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>Collecte de sang</nb-card-header>
            <nb-card-body> Le SSI vous convie à sa collecte de sang ! Lundi 2 octobre, de 10 h à 20 h.  </nb-card-body>
            <nb-card-footer>21 Sep 2017</nb-card-footer>
        </nb-card>
      </div>
</div>
